.container {
  /*display: flex; /* Makes items horizontal */
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  width: fit-content;
  border-radius: 30px;
  background-color: lightgray;
  margin: 50px auto;
  /*gap: 20px;*/
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}
